.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__list{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    padding: 5px;
}
.nav__item{
    font-variant: small-caps;
}
.nav__link{
    text-decoration: none;
    color: gray;
    transition: transform 0.5s;
}
.nav__link:hover{
    color: red;
    transform: scale(2);
}
.nav__link--red{
    color: red;
}