@media screen and (min-width:460px) {
    .article__title{
        font-variant: small-caps;
        display: block;
        text-align: center;
    }
    .article__footer{
        display: flex;
        width: 70%;
        justify-content: space-between;
        margin-left: auto;
    }
    .article__footer-text{
        padding-left: 30px;
        margin-right: 5px;
        border-left: 1px solid gray;
    }
    
}
@media screen and (min-width:480px) {
    .article__title{
        border-bottom: 1px solid gray;
    }
    .article__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .article__image{
        display: block;
        width: 100%;
    }
}
@media screen and (min-width:600px) {
    .article__body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.9rem;
    }
    .article__image{
        width: 50%;
    }
    .article__text{
        width: 45%;
    }
    .article__footer{
        width: 45%;
    }
}
@media screen and (min-width:768px) {
    .article{
        /* margin-top: 80px; */
    }
    .article__header{
        display: flex;
        justify-content: space-between;
    }
    .article__title{
        text-align: start;
        border: none;
        width: 60%;
    }
    .article__p{
        font-size: 0.9rem;
    }
    .article__data{
        display: block;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        font-variant: small-caps;
    }
    .article__date{
        font-weight: bolder;
    }
    .article__body{
        flex-direction: column;
    }
    .article__image,.article__text{
        width: 100%;
    }
    .header__h1{
        display: block;
        width: 35%;
    }
    .nav{
        width: 65%;
    }

    
}
@media screen and (min-width:1024px) {
    .superior__img{
        display: block;
        width: 60px;
        position: absolute;
        top: 100px;
        right: 10px;
        box-shadow: 1px 10px 10px gray;
        background-color: rgba(255, 255, 255, 0.262);
    }
    .container{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 80px 1fr 60px;
        grid-template-areas: "header header"
                             "aside articles"
                             "footer footer";
    }
    .header{
        grid-area: header;
    }
    .articles{
        grid-area: articles;
        margin: 40px 40px 40px 10px;
    }
    .aside{
        grid-area: aside;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: transparent;
    }
    .footer{
        grid-area: footer;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }
    .card{
        width: 100%;
    }
    .card__image{
        width: 100%;
        box-shadow: 1px 10px 10px gray;
    }
    
}
@media screen and (min-width:1200px) {
    .header{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-width: 100%;
        background-color: #eee;
    }
    .container{
        grid-template-columns: 15% 20% 65%;
        grid-template-rows: 1fr 60px;
        grid-template-areas: "header aside articles"
        "footer footer footer";
    }
    .header__h1{
        display: none;
    }
    .nav{
        width: 100%;
        background-color: #eee;
    }
    .nav__list{
        display: flex;
        flex-direction: column;
    }
    .nav__item{
        margin-bottom: 5px;
        width: 70%;
        background-color: #ffffff60;
        padding: 5px;
        padding-bottom: 1px;
        font-size: 1.2em;
    }
    .superior__img{
        display: none;
    }
}